<img src="../assets/carrefour.png " alt="carrefour" class="pre-home-onboarding__logo" style="
height: 50px;
float: right;
margin-left: 10px; " />

<h1 class="pre-home-onboarding__title pl-text pl-text--size-m pl-text--style-h1" style="color: rgb(40, 52, 138);"> Bienvenue chez Carrefour  </h1>

<router-outlet />
